<section class="center">
  <br><br>

  <%= flash_message %>


<% if @entry.errors.any? %>
   <ul class="error">
   <% @entry.errors.full_messages.each do |error_msg| %>
   <li class="error bg-danger"><%= error_msg %></li>
   <% end %>
   </ul>
<% end %>

  <h1>Entries new</h1>
<%= form_for [@project, @entry] do |f| %>
  <%= f.label :hours %>
  <%= f.text_field :hours %>
  <br>
  <%= f.label :minutes %>
  <%= f.text_field :minutes %>
  <br>
  <%= f.label :datetime %>
  <%= f.date_field :datetime %>
  <br>

  <%= f.submit 'Save' %>
  <%= link_to("Cancel", projects_path) %>
<% end %>
</section>